:root {
  --bg_color: #14161a;
  --panel_bg_color: #20242c;
  --panel_header_bg_color: #2a2f3a;
  --panel_border: 1px solid #2a2f3a;
  --panel_border_radius: 14px;
  --text: #e8eaf0;
}
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
html,
body {
  height: 100%;
  background: var(--bg_color);
  color: var(--text);
  font-family: system-ui, -apple-system, Segoe UI, Roboto, Helvetica, Arial;
}
.app {
  max-width: 95%;
  margin: 2px auto;
  padding: 16px;
  display: flex;
  flex-direction: column;
  gap: 12px;
}
.panel {
  background: var(--panel_bg_color);
  border: var(--panel_border);
  border-radius: var(--panel_border_radius);
}
.panel .header {
  padding: 14px 16px;
  border-bottom: var(--panel_border);
  background: linear-gradient(
    180deg,
    var(--panel_header_bg_color),
    var(--panel_bg_color)
  );
  border-top-left-radius: var(--panel_border_radius);
  border-top-right-radius: var(--panel_border_radius);
}
.panel .body {
  padding: 16px;
}
.panel .body.row {
  display: flex;
  flex-direction: row;
  gap: 16px;
  flex-wrap: wrap;
  align-items: center;
}
